@import "../../styles/keyframes.scss";

.container {
  padding: 15px 20px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
  :global {
    animation: slideUp 500ms ease-in-out;
  }
}

.closing {
  :global {
    animation: slideDown 500ms ease-in-out forwards;
  }
}

.text {
  flex-grow: 1;
}

.button {
  position: relative;
  display: inline-flex;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border: 0;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255,255,255, 0.3);

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 15px;
    background-color: white;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
