@keyframes :global(slideUp) {
  from {
    transform: translate(-50%, 150%);
  }

  to {
    transform: translate(-50%, 0);
  }
}

@keyframes :global(slideDown) {
  from {
    transform: translate(-50%, 0);
  }

  to {
    transform: translate(-50%, 150%);
  }
}
