.layout {
  width: 100%;
  background-image: linear-gradient(45deg, #303f9f 25%, #7b1fa2 75%);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: filter 500ms ease;
}

.blurred {
  filter: blur(5px);
}
